:ruby
  sections = []
  sections << 'welcome'

  Dir.foreach('app/views/styleguide') do |section|
    next if section == '.' or section == 'index.html.haml' or section == '..'  or section == '.DS_Store' or section == 'initializers'
    section.sub! '.haml', ''
    section.sub! '_', ''
    sections << section
  end

!!!
%html
  %head
    %title Styleguide
    = stylesheet_link_tag 'all'    
    %meta{content:'initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width', name:'viewport'}
  %body
    %nav.sg-nav
      %a.sg-logo{href:'#', target:'_blank'}
        = image_tag 'logo.png'
      %ul
        - for section in sections
          %li
            %a{href:"##{section}"} 
              = section.titleize
      %a.sg-logo-twg{href:'http://www.theworkinggroup.ca', target:'_blank'}
        = image_tag 'logo-twg.png'

    .sg-content
      %h1.sg-h1 RSportz Styleguide

      - for section in sections 
        %section.sg-section{class:"sg-section-#{section}"}
          %a.sg-anchor{id:"#{section}", name:"#{section}"}
          .sg-section-head
            %h2.sg-h2= section.titleize
            .sg-path= "...app/views/styleguide/_#{section}.haml"
          - if File.exists?("app/views/styleguide/_#{section}.haml")
            = render partial: "styleguide/#{section}"

          - else
            = render partial: "styleguide/initializers/#{section}"

    = javascript_include_tag 'all.js'
